<h1>Add/Update document</h1>

<form *ngIf="document" [formGroup]="form" (ngSubmit)="submit()" name="myForm">
    <formly-form [form]="form" [fields]="fields" [model]="document"></formly-form>
    <button color="primary" type="submit" mat-button class="btn btn-primary" [disabled]='!form.valid'>Submit</button>
</form>
<mat-divider></mat-divider>
<p class="warn" *ngIf="message">{{message}}</p> 
<div class="standard-buttons">
<button color="warn" *ngIf="id" mat-button (click)="deleteNote(id)" class="btn btn-danger">Delete Item</button>
<button color="primary" mat-button (click)="goToAdmin()" class="btn btn-secondary">Return to list</button>
</div>

<!-- <p>{{document | json}}</p> -->
